@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    padding: 0;
    margin: auto 0;
}

html{
    height: 100%;
}

body{
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.page_title{
    width: 100%;
    height: 50px;
    color: white;
    background-color: teal;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}